@model IEnumerable<AMEL2.Models.Bericht>

@{
    ViewBag.Title = " Verfahrensfließbilder";
}


<h2> Verfahrensfließbilder</h2>



<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
        </th>
    </tr>
    
    <tr>
        <td>
            Funktionsbeschreibung Bandeindicker Sülzle_1
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpsteuerungsbeschreibungen/Funktionsbeschreibung Bandeindicker Sülzle_1.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    

</table>
