@model IEnumerable<AMEL2.Models.Bericht>

@{
    ViewBag.Title = " Verfahrensfließbilder";
}


<h2> Verfahrensfließbilder</h2>



<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <td>
            01-1 R&I Anlagenverfahrensbild 2014
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpverfahrensbilder/01-1 R&I Anlagenverfahrensbild 2014.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            02 AF-00-03_00-a Verfahrensfließbild-Optimierung Kläranlage_20170620
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpverfahrensbilder/02 AF-00-03_00-a Verfahrensfließbild-Optimierung Kläranlage_20170620.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            03 AF-00-03_01-a Verfahrensfließbild-Biofor-Anlage_20170620
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpverfahrensbilder/03 AF-00-03_01-a Verfahrensfließbild-Biofor-Anlage_20170620.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            04 AF-00-03_02-a Verfahrensfließbild Schlammeindickung_20170620
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpverfahrensbilder/04 AF-00-03_02-a Verfahrensfließbild Schlammeindickung_20170620.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
  
</table>
