@model IEnumerable<AMEL2.Models.Bericht>

@{
    ViewBag.Title = "LV's der 6. Baumassnahme";
}

<h2>LV's der 6. Baumassnahme</h2>



<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <td>
            2017-06-30 LV Los 2 Vorabzug
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbaumassnahmen/2017-06-30 LV Los 2 Vorabzug.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            2017-06-30 LV Los 3 Vorabzug
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbaumassnahmen/2017-06-30 LV Los 3 Vorabzug.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            LV 2017 KA Cloppenburg
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbaumassnahmen/LV 2017 KA Cloppenburg.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    

</table>
