@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KA Cloppenburg</h1>
    <br />
    <h2>KA Cloppenburg</h2>
    <br />
    <h3>Antriebs- und Maschinendokumentationen</h3>
    <br />
    <br />
    <br />
  
    <p class="lead">Pandatasoft - Software für die Panoramische Darstellung von Daten</p>
    <p class="lead">Greifen Sie von ÜBERALL und JEDERZEIT auf Ihre aktuellen Projektdaten zu</p>
    
</div>

